@keyframes heart {

  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }

  20%,
  60% {
    transform: scale(1.15);
  }
}

:root {
  --md-status--material: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m17.029 18.772.777 1.166-5.417 2.709L0 16.451V4.063l5.417-2.709 5.298 7.948 7.867-5.24L24 1.354V16.84l-5.417 2.709zm2.023-13.827v13.253l3.949-1.975V2.97zM5.076 2.642 1.458 4.45 12.73 21.358l3.618-1.809z"/></svg>');
}

.md-status--material::after {
  -webkit-mask-image: var(--md-status--material);
  mask-image: var(--md-status--material);
}

[data-md-component="announce"] {
  background: linear-gradient(90deg, #da814a, #f5a623);
  transition: all 250ms;
}

[data-md-component="announce"]:hover {
  opacity: 0.8;
}

[data-md-component="announce"] a {
  margin-left: 4px;
  color: #ffffff !important;
  text-decoration: none;
}

[data-md-component="announce"] .md-icon svg {
  stroke: #ffffff;
}

.mdx-heart {
  animation: heart 1000ms infinite;
}

.mdx-columns ol,
.mdx-columns ul {
  columns: 2;
}

@media screen and (max-width: 29.9844em) {
  .md-typeset .mdx-columns ol,
  .md-typeset .mdx-columns ul {
    columns: initial;
  }
}

.mdx-columns li {
  break-inside: avoid;
}

.mdx-switch button {
  cursor: pointer;
}

.mdx-flags {
  margin: 2em auto
}

.md-typeset .mdx-flags ol {
  list-style: none
}

.md-typeset .mdx-flags ol li {
  margin-bottom: 1em
}

.md-typeset .mdx-flags__item {
  display: flex;
  gap: .6rem
}

.md-typeset .mdx-flags__content {
  display: flex;
  flex: 1;
  flex-direction: column
}

.md-typeset .mdx-flags__content span {
  align-items: baseline;
  display: inline-flex;
  justify-content: space-between
}

.md-typeset .mdx-flags__content>span:nth-child(2) {
  font-size: 80%
}

.md-typeset .mdx-flags__content code {
  float: right
}
